:root {
  --br-btn: 0.3rem;
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: blueviolet;
  margin-top: 3rem;
}

.container {
  max-width: 370px;
  min-height: 600px;
  padding: 3rem 1rem;
  background-image: url(images/IMG_4027.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px 10px 0 160px;
}
h1 {
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px black;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*gap: clamp(1rem, 3vh, 1.5rem);*/
}
label {
  margin-bottom: 0.5rem;
  text-align: right;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px black;
}

input {
  padding-block: 0.5rem;
  max-width: 80px;
  text-align: center;
  border-radius: var(--br-btn);
  border: none;
  font-weight: bold;
  outline: none;
  font-size: 1.5rem;
  font-family: inherit;
}

.number-box {
  display: flex;
  gap: 0.5rem;
}

button {
  border: none;
  background-color: blueviolet;
  color: #ffffff;
  border-radius: var(--br-btn);
  margin: 2rem auto 1rem auto;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0.3rem;
  cursor: pointer;
  width: 80%;
  font-family: inherit;
}

.answer {
  text-align: center;
  font-size: 6rem;
  color: #ffffff;
  transition: none;
  font-weight: bold;
  transition: 5000ms ease-in-out;
  text-shadow: 1.5px 1.5px 1.5px blueviolet;
}
.extra {
  display: none;
}
.extra.active {
  display: block;
  color: #ffffff;
  transition: 5000ms ease-in-out;
  font-size: 0.9rem;
  text-align: center;
  background-color: blueviolet;
  padding: 0.3rem;
  font-weight: bold;
  text-shadow: 1px 1px black;
}
